<div class="about">
     <span class="about-image">
          <img src="http://www.gravatar.com/avatar/6d16ca5d89fc317247beb1cc6011bad9?s=120&amp;d=identicon" alt="author name">
     </span>
     <span class="about-desc">
       <div>I am James Huynh, a new technology lover and explorer from Singapore. I am setting this site to faciliate my learning on Elixir and share my learning experience.<br/> Contact me regarding this site at <a href='mailto:learnelixir@gmail.com'>learnelixir@gmail.com</a>. I would love to hear your feedbacks as well as topics on Elixir that you would like me to cover :-)</div>
        <br/>
        <hr/>
        <a href="https://twitter.com/jameshu" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jameshu</a>
     </span>
</div>
